* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "Nexa-Trial";
  src: url("../fonts/Nexa-Trial-Bold.eot");
  src: url("../fonts/Nexa-Trial-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Trial-Bold.woff2") format("woff2"), url("../fonts/Nexa-Trial-Bold.woff") format("woff"), url("../fonts/Nexa-Trial-Bold.ttf") format("truetype"), url("../fonts/Nexa-Trial-Bold.svg#Nexa-Trial-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
.body {
  font-family: "Nexa-Trial";
  font-weight: 700;
}

.wrapper {
  max-width: 1440px;
  padding: 0px 10px 0px 10px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 117px;
}
.header__logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
}
.header__donatebtn {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.menu__list {
  display: flex;
  justify-content: center;
}
.menu__link {
  cursor: pointer;
}
.menu__link:not(:last-child) {
  margin: 0px 50px 0px 0px;
}