* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "Nexa-Trial";
  src: url("../fonts/Nexa-Trial-Bold.eot");
  src: url("../fonts/Nexa-Trial-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Trial-Bold.woff2") format("woff2"), url("../fonts/Nexa-Trial-Bold.woff") format("woff"), url("../fonts/Nexa-Trial-Bold.ttf") format("truetype"), url("../fonts/Nexa-Trial-Bold.svg#Nexa-Trial-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Medium.eot");
  src: url("../fonts/Now-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Now-Medium.woff2") format("woff2"), url("../fonts/Now-Medium.woff") format("woff"), url("../fonts/Now-Medium.ttf") format("truetype"), url("../fonts/Now-Medium.svg#Now-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Regular.eot");
  src: url("../fonts/Now-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Now-Regular.woff2") format("woff2"), url("../fonts/Now-Regular.woff") format("woff"), url("../fonts/Now-Regular.ttf") format("truetype"), url("../fonts/Now-Regular.svg#Now-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
}
.body {
  font-family: "Nexa-Trial";
  font-weight: 700;
}

.header {
  height: 117px;
  background-color: #f7f7f7;
  padding: 35px 0px 0px 0px;
}
.header__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
.header__logo {
  cursor: pointer;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}
.header__donatebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 43px;
  width: 126px;
  background: #ff5d24;
  border-radius: 5px;
}
.header__donatebtn:hover {
  background: #eb490e;
}
.header__donatebtn:active {
  background: #ff5d24;
}

.menu__list {
  display: flex;
  justify-content: center;
  color: #303030;
}
.menu__link {
  font-family: "Now";
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.menu__link:not(:last-child) {
  margin: 0px 50px 0px 0px;
}
.menu__link:hover {
  color: #ff5d24;
}
.menu__link:active {
  color: #303030;
}

.donate__now {
  font-family: "Now";
  font-weight: 400;
  font-size: 17px;
  line-height: 17px;
  color: #fff;
}